In [2]:
import pandas as pd
import glob

In [5]:
df_tottus = pd.read_excel("web-scraper-tottus/Output/REPORTE_WS_TOTTUS.xlsx", converters={'internet_price':str})

In [6]:
round(df_tottus.isnull().sum()/df_tottus.shape[0]*100, 2)

pais                0.00
url_sku             0.00
id                  0.02
name                0.02
description         0.02
id_client           0.02
cod_sku             0.02
first_category      0.02
second_category     0.02
third_category      0.02
category_1          0.65
category_2          0.02
attributes          0.02
normal_price       78.97
internet_price      0.02
cmr_price          96.22
url_image           0.38
pixel_image         0.44
ID_DIARUNNING       0.00
dtype: float64

In [ ]:
df_tottus = pd.read_excel("web-scraper-tottus/REPORTE_WS_TOTTUS.xlsx", converters={'internet_price':str})

In [15]:
df_tottus.shape[0]

6601

In [ ]:
round(df_tottus.isnull().sum()/df_tottus.shape[0]*100, 2)

pais                0.00
url_sku             0.00
id                  0.02
name                0.02
description         0.02
id_client           0.02
cod_sku             0.02
first_category      0.02
second_category     0.02
third_category      0.02
category_1          0.82
category_2          0.02
attributes          0.03
normal_price       76.93
internet_price      0.02
cmr_price          95.88
url_image           1.62
pixel_image         1.74
ID_DIARUNNING       0.00
dtype: float64

In [11]:
filenames = glob.glob("web-scraper-lider/Output/REPORTE_WS_*")
df_lider = pd.concat(pd.read_excel(file, converters={'internet_price':str}) for file in filenames).reset_index(drop=True)

In [16]:
df_lider.shape[0]

55544

In [12]:
round(df_lider.isnull().sum()/df_lider.shape[0]*100, 2)

pais                 0.00
url_sku              0.00
id                   0.25
name                 0.25
description        100.00
id_client            0.25
cod_sku              0.25
first_category       0.25
second_category      0.25
third_category       0.25
category_1           0.25
category_2           0.25
attributes           0.25
normal_price        77.37
internet_price       0.25
cmr_price          100.00
url_image          100.00
pixel_image        100.00
ID_DIARUNNING        0.00
dtype: float64

In [13]:
filenames = glob.glob("web-scraper-jumbo/Output/REPORTE_WS_*")
df_jumbo = pd.concat(pd.read_excel(file, converters={'internet_price':str}) for file in filenames).reset_index(drop=True)

In [17]:
df_jumbo.shape[0]

30573

In [14]:
round(df_jumbo.isnull().sum()/df_jumbo.shape[0]*100, 2)

pais                 0.00
url_sku              0.00
id                   0.20
name                 0.20
description          4.82
id_client            0.20
cod_sku              0.20
first_category       0.20
second_category      0.20
third_category       0.20
category_1           0.20
category_2           0.20
attributes           0.20
normal_price        82.71
internet_price       0.24
cmr_price          100.00
url_image            0.20
pixel_image          0.23
ID_DIARUNNING        0.00
dtype: float64